:root{
    --background_color : hsl(27,66%,92%);
    --color_header : hsl(10,79%,65%);
    --font-size:18px;
    --dark-brown:hsl(25,47%,15%);
    --medium-brown:hsl(28,10%,53%);
    --blue-bar:hsl(186,34%,60%);
    --orange-bar:hsl(33,100%,98%);
    --font-family:DM Sans;
    --font-weight:400,700;
    --moblie:375px;
    --desktop:1440px;
}
body{
    background-color: var(--background_color);
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin-top: 180px;
}